/* Fonts */
/* Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Poliwrite  */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

/* ********************************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #fff;

    background-color: black;
}

.container-alignment {
    max-width: 85%;
    margin: 80px auto;
}

/* Shared */

.container {
    margin: 90px 0px;
}

.btn {
    background-color: rgb(230, 83, 60);
    border-radius: 30px;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 900;
}

p {
    color: rgba(255, 255, 255, 0.5);
}

/* *********** Nav Bar ************** */

.nav-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-style: italic;
}

.menu ul {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 5px 0px;
}

.menu i {
    display: none;
}


.menu ul li {
    list-style-type: none;
    margin: 0px 5px;
    padding: 8px 20px;
}

/* Banner */

.banner-bg {
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(119, 119, 119, 0.2) 50%, rgba(255, 0, 0, 0));
}


.banner-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.banner-text h2 {
    line-height: 80%;
    font-size: 5rem;
}

.banner-text h2 span {
    font-family: "Playwrite CU", cursive;
    font-weight: 300;

}

.banner-text p {
    margin-top: 20px;
}

.btn-group {
    margin-top: 30px;
}

.btn-club {
    padding: 16px 36px;
    font-size: 1rem;
}

.btn-download {
    padding: 16px 36px;
    font-size: 1rem;
    border-radius: 30px;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    background-color: transparent;
}

.banner-figure {
    display: flex;
    justify-content: center;
    align-items: end;
}


.badge {
    position: absolute;
    display: flex;
}

.badge-1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(4px);
    background: rgba(48, 48, 48, 0.54);
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.badge-1 .circle {
    width: 2rem;
    height: 2rem;
    background-color: rgb(230, 83, 60);
    margin-right: 10px;
    border-radius: 50%;
}

.badge-1 p {
    font-size: 1.5rem;
    color: #fff;
}

.badge-1 small {
    color: rgba(255, 255, 255, 0.5);
}

.b-left {
    margin-top: -150px;
}

.b-right {
    margin-top: -450px;
}

/* ************************************ */

/* ************ Habits Section ******************* */

.habit-text {
    text-align: center;
}

.habit-text h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.habit-cards {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.habit-card img {
    border-radius: 50%;
    margin: 20px;
    border: 4px solid rgba(255, 255, 255, 0.2);
}

/* ************************ */

/* *** Run Extra Section */

.run-extra-container {
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 80px;
}

.run-extra-text {
    width: 50%;
}

.run-extra-text h3 {
    font-size: 3rem;
    font-weight: 900;
}

.run-extra-text p {
    margin: 25px 0px;
}

.run-extra-figure {
    width: 50%;
}

.run-extra-figure img {
    width: 100%;
    border-radius: 18px;

}

.btn-run {
    background-color: rgb(230, 83, 60);
    border-radius: 30px;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 900;
    padding: 16px 36px;
    font-size: 1rem;
}

/* ************************** */

/* Tutorials Section */



/* ******************* */

/* BMI Calculator Section */

.bmi-text {
    text-align: center;
    margin-bottom: 40px;
}

.bmi-text p{
    padding: 0px 300px;
}

.bmi-text h3 {
    font-size: 3rem;
    margin-bottom: 20px;
}


.bmi-content-container {
    background-color: rgb(34, 34, 34);
    padding: 80px 0px;
}

.bmi-wrapper {
    max-width: 85%;
    margin: 0px auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.bmi-wrapper h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.bmi-table {
    width: 50%;
}

.bmi-form {
    width: 50%;
}

table {
    /* border: 1px solid #fff; */
    border-collapse: collapse;
    margin-top: 50px;
}

th,
td {
    padding: 18px;
    text-align: left;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

/* Form */

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0px;
    gap: 12px;
}
form input::placeholder {
    color: #fff;
    padding: 0px 5px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}


form :last-child {
    grid-column: span 2;
}

form input, select {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
}

/* ***************** */

/* Our Team */

.our-team-text{
    text-align: center;
}

.our-team-text h3{
    font-size: 3rem;
    font-weight: 900;
}

.our-team-text p{
    padding: 30px 300px;
}

.our-team-container{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.our-team-figure{
    position: relative;
    padding: 25px;
}

.our-team-figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;

}

.credentials{
    position: absolute;
    bottom: 20px;
    margin: 40px;
}

.credentials h4{
    font-size: 1.5rem;
    font-weight: 900px;
}










/* ****************! Media Query !***************** */

@media (max-width: 576px) {

    /* for mobiles and small devices */

    .menu ul {
        display: none;
    }

    .menu i {
        display: block;
        color: #fff;
        font-size: 2rem;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text p {
        padding-right: 40px;
    }

    .btn-group {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .btn-club {
        padding: 0.75rem 1rem;
        font-size: 1rem;
        flex-grow: 1;
    }

    .btn-download {
        padding: 0.75rem 1rem;
        font-size: 1rem;
        flex-grow: 1;
    }

    /* **** Habits Section **** */

    .habit-cards {
        margin-top: 30px;
        grid-template-columns: 1fr;
    }

    .habit-text h2 {
        font-size: 2.2rem;
    }

    .habit-card img {
        width: 80%;
        margin: 20px auto;
    }

    /* *** Run Extra Section */

    .run-extra-container {
        flex-direction: column;
        width: 100%;
        margin: 0px 10px;
        gap: 40px;

    }

    .run-extra-text h3 {
        font-size: 2rem;
        font-weight: 900;
    }

    .run-extra-text {
        width: 100%;
    }

    .run-extra-figure {
        width: 100%;
    }

    .btn-run {
        width: 100%;
    }

    /* BMI Section */
    
    .bmi-text p{
        padding: 0px 45px;
    }

    .bmi-text h3 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

     .bmi-wrapper {
        flex-direction: column;
        gap: 50px;
    
    }
    
    
    .bmi-table {
        width: 100%;
    }
    
    .bmi-form {
        width: 100%;
    }

    /* Our Team */

    .our-team-container{
        grid-template-columns: 1fr;
    }

    .our-team-figure img{
        height: 290px;
    }

    .our-team-text p{
        padding: 30px 30px;
    }

}

@media (min-width: 577px) and (max-width: 768px) {
    /* for tablets */


}

@media (min-width: 769px) and (max-width: 1200px) {
    /* for laptops */

}